<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css?v=1.5">
    <title>Akhil Bhartiya Gond Aadivaasi Sangh</title>
</head>

  
<body style="background-color: green;">
    <div class="colorbar">
        <div style="background-color:#7cf9f3 ;width:14.28%;"></div>
        <div style="background-color:#ff6501 ;width:14.28%;"></div>
        <div style="background-color:#0302fd ;width:14.28%;"></div>
        <div style="background-color:#fb0102 ;width:14.28%;"></div>
        <div style="background-color:#98fc04 ;width:14.28%;"></div>
        <div style="background-color:#02fc04;width:14.28%;"></div>
        <div style="background-color:#ffd807;width:14.28%;"></div>
    </div>

    <div class="logohead">
        <div><img class="logowidth" src="/images/lg2.png"  alt=""></div>
        <div><img class="logowidth" src="/images/lg3cr.png"  alt=""></div>
        <div><img class="logowidth" src="/images/grttr.png"  alt=""></div>
        <div><img class="logowidth" src="/images/sdsd.png"  alt=""></div>
        
    </div>

 

    <div class="main_title">
        <h1>अखिल भारतीय गोंड आदिवासी संघ</h1>
        <h3>प्रधान कार्यालय नई दिल्ली ( पंजी0सं0:42824)</h3>
    </div>

    <div class="container">
        <div class="person">
            
            <img src="/images/faggan_singh.jpg" alt="Person 1">
            <h2 class="h211">मा. फग्गन सिंह कुलस्ते <br> राष्ट्रीय अध्यक्ष </h2>


        </div>
        <div class="person">
            <h3 class="h222">अशोक कुमार शाह <br> राष्ट्रीय महासचिव </h3>
            <img src="/images/ashok_sah.jpeg" alt="Person 2">
            
        </div>
    </div>


    <div class="navmain">  
            <a href="/notices" style="padding-right: 8px;"><button class="button-name" role="button">सूचना</button></a>
            <a href="/gallery" style="padding-right: 8px;"><button class="button-name" role="button">गैलरी</button></a>
            <a href="/memberlist" style="padding-right: 8px;"><button class="button-name" role="button">सदस्य सूची</button></a> 
            <a href="/about" style="padding-right: 8px;"><button class="button-name" role="button">हमारे बारे में</button></a>
    </div>

    <div class="slideshow-container">
  <div class="slide fade">
    <img src="/images/ashok_sah.jpeg" alt="Slide 1">
  </div>
  <div class="slide fade">
    <img src="/images/faggan_singh.jpg" alt="Slide 2">
  </div>
  <div class="slide fade">
    <img src="/images/grttr.png" alt="Slide 3">
  </div>
  <!-- Add more slides as desired -->
  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>
</div>
<script>
let slideIndex = 0;
showSlides();
function showSlides() {
  let slides = document.getElementsByClassName("slide");
  for (let i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 4000);
}
</script>


      
</body>

</html>