<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css?v=1.5">
    <title>Member list</title>
</head>
<body>
    <div class="colorbar">
        <div style="background-color:#7cf9f3 ;width:14.28%;"></div>
        <div style="background-color:#ff6501 ;width:14.28%;"></div>
        <div style="background-color:#0302fd ;width:14.28%;"></div>
        <div style="background-color:#fb0102 ;width:14.28%;"></div>
        <div style="background-color:#98fc04 ;width:14.28%;"></div>
        <div style="background-color:#02fc04;width:14.28%;"></div>
        <div style="background-color:#ffd807;width:14.28%;"></div>
    </div>

     <div class="main_title">
        <h1>अखिल भारतीय गोंड आदिवासी संघ</h1>
        <h3>प्रधान कार्यालय नई दिल्ली ( पंजी0सं0:42824)</h3>
    </div>

     <div class="navmain_notices">  
            <a href="/" style="padding-right: 8px;"><button class="button-name" role="button">मुख्य पृष्ठ</button></a>
            <a href="/notices" style="padding-right: 8px;"><button class="button-name" role="button">सूचना</button></a>
            <a href="/gallery" style="padding-right: 8px;"><button class="button-name" role="button">गैलरी</button></a> 
            <a href="/about" style="padding-right: 8px;"><button class="button-name" role="button">हमारे बारे में</button></a>
    </div>
    
</body>
</html>